body {
    background: #f4f5f7;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */

.navbar {
    padding: 20px 0;
}

.brand-icon {
    color: #0ea66b;
    font-size: 2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    color: #17233d;
}

.nav-link {
    font-size: 1.1rem;
}

/* TITLE */

.section-title {
    font-size: 4rem;
    font-weight: 700;
    color: #17233d;
}

.section-text {
    max-width: 700px;
    color: #59657d;
    font-size: 1.4rem;
}

/* BENEFITS */

.benefit-card {
    text-align: center;
}

.benefit-icon {
    width: 120px;
    height: 120px;
    margin: auto;
    background: #dff8eb;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    color: #0ea66b;
}

.benefit-card h3 {
    margin-top: 30px;
    color: #17233d;
    font-size: 2rem;
}

.benefit-card p {
    color: #59657d;
    font-size: 1.2rem;
}

/* PARTNER CARDS */

.partner-card {
    background: white;
    border-radius: 30px;
    padding: 40px;
    min-height: 420px;

    box-shadow:
        0 3px 10px rgba(0, 0, 0, .05);

    transition: .3s;
}

.partner-card:hover {
    transform: translateY(-10px);
}

.card-icon {
    width: 90px;
    height: 90px;

    background: #f2f4f8;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: #51627d;
}

.badge-pill {
    display: inline-block;

    background: #c8f1db;
    color: #137957;

    padding: 10px 20px;

    border-radius: 40px;

    margin-top: 25px;

    font-size: 1rem;
}

.partner-card h3 {
    margin-top: 25px;
    font-size: 2rem;
    color: #17233d;
}

.partner-card p {
    color: #59657d;
    font-size: 1.2rem;
    line-height: 1.7;
}

.partner-card a {
    color: #0ea66b;
    text-decoration: none;
    font-size: 1.2rem;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* MOBILE */

@media(max-width:768px) {

    .section-title {
        font-size: 3rem;
    }

    .section-text {
        font-size: 1.2rem;
    }

    .partner-card {
        min-height: auto;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }
}